
*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
  }
.vp-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    height: 70px;
    z-index: 11;
}
.logo{
    display: flex;
    align-items: center;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 500;
    font-size: 26px;
    margin-left:10px;
    word-spacing: 2px;
    line-height: 350px;
}
.logo i{
    color: goldenrod;
    padding: 6px;
}
a {
    text-decoration: none;
}
.logo p a{
    color: white;
    text-decoration: none;
}
ul li {
    list-style: none;
}
header .container-1 ul  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-size: 18px;
    gap: 40px;
    padding-right: 60px;
}
.container-1 ul li a {
    color: white;
}
.container-1 ul a:hover{
    border-bottom: #ffc680 solid 2px ;
    font-size: 20px;
    cursor: pointer ;
    color: #ffc680;
}
.logo:hover{
    font-size: 27px;
}
.vp{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(/images/framee.jpg) center center/cover;
    height: 525px;
}

.vp-content  h2{
    display: block;
    font-size: 35px;
    width: 834px;
    word-spacing:2px ;
    color: #ddd;
    padding-bottom: 10px;
}
strong {
    color: goldenrod;
    font-weight: 700; 
}
.vp-content p{
    justify-content: center;
    width: 900px;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
}
.container-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.vp-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #c8c8c8;
}
.container-2 h2 {
    
    font-size: 34px;
    
    width: 834px;
    word-spacing:2px ;
    color :#1e1a1a;
    padding-bottom: 70px;
}
.offree{
   display: flex;
   flex: row ;
   justify-content: space-between;
   gap: 60px;
   align-items: center;
   flex-wrap: wrap;
   
}  
.offre-img{
    width: 260px;
    border: 1px ;
    border-radius: 2px;
    opacity: 0.8;
    padding-bottom: 20px;
}
.offre-img:hover{
    opacity: 1;
}
.offree p{
    text-align: center;
    padding: 5px 10px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #110c0ce5;

}
.offree  li{
    background-color: #fff;
    height: 300px;
}
.vp-3{
    display: flex;
    flex: row;
    gap: 40px;
    align-items: center;
    height: 400px;
    background-color: #ffffff;
}
.vp-3 img{
    width: 45%;
    
}
.vp-3 p{
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
}
.vp-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content-0{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c8c8c8;
}
.yas-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: row;
    margin: 10px ;
    height: auto;
    background: #fff;
    padding: 15px;
}
.vp-4 h2{
    font-size: 30px;
    color: #646464;
    margin: 50px 0;
}
.yas-1 img{
    width: 90px;
    border-radius: 50%;
}
.yas-1 p{
    font-size: 18px;
    color: #646464;
    text-align: center;
    padding-right: 100px;
}
.yas-1 h3{
    color: rgb(160, 63, 31);
    font-size: 20px;
    padding: 5px;
}
.vp-5{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vp-5 h3{
    font-size: 30px;
    color: #646464;
    margin: 50px 0;
    text-align: center;
}
form{
    width: 50%;
  }
  form input,
  textarea{
    display: block;
    width: 100%;
    padding: 20px 20px ;
    margin: 20px 350px;
    border: none;
    border-radius: 15px;
    background-color: #9a9a9a;
  }
  /* CSS */
.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    margin-right: 0px;
    margin-bottom: 100px;
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    left:500px;
    width: 120px;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
  #footer{
    background-color: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
  }
  #footer b {
    color: #e4b95b;
  }